---
import Layout from '../layouts/Layout.astro';
import Dashboards from '../components/Dashboard.astro';
import Projects from '../../public/assets/images/Projects.astro';
import Contact from '../components/Contact.astro';
import Main from '../components/Main.astro';
import Skills from '../components/Skills.astro';
---

<Layout title="Dashboard">
  <main>
    <Dashboards id="main"/>
    <Main id="main"/>
    <Skills id="skills"/>
    <Projects id="projects"/>
    <Contact id="contact"/>
  </main>
</Layout>