---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ImageSuperimpose from '../components/ImageSuperimpose.astro'; 
---

<Layout title="Home">
  <main>
    <ImageSuperimpose />
  </main>
</Layout>