---

---

<div class="hero min-h-screen bg-base-200" id="main">
  <div class="hero-content flex-col lg:flex-row">
    <img src="./assets/images/photo.jpg" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Hello there ! (General Kenobi) I'm Lorenzo ZANUSO</h1>
      <p class="py-6">And welcome to my portfolio<br>
        A future web developer currently studying at web@cademie by Epitech.<br>
        Below you'll see my skills along side my work.<br>
        Hope you'll enjoy your visite.<br>
      </p>
      <a href="./assets/images/DevelopperWeb.pdf" download>Download my CV</a>
    </div>
  </div>
</div>

<style>
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
p
{
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: #fff;
}

.hero-content img {
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 0 8px #ff00ff, 0 0 16px #ff00ff;
}

.hero-content p {
  padding: 1rem 0;
  text-shadow: 0 0 8px #00ffff, 0 0 16px #00ffff;
}
</style>

<script></script>