---

---

<div id="projects" class="relative w-9/12 h-screen ml-80 rounded-lg border-4 border-neon" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-screen">

        <!-- Item  My first project Description -->
        <div class="hidden duration-2000 ease-in-out" data-carousel-item>
          <p class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"> The first slides was my first project. I had to create a website with four linked page for to be able to be taken in my school program. I used HTML and CSS. 
            <button type="submit" class=" w-full py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" id="btn-slide"><a href="https://github.com/NokthoSolaire/My_Cinema">GIT HUB</a></button>
        </p>
        </div>
         <!-- Item 1 My first project -->
        <div class="hidden duration-2000 ease-in-out" data-carousel-item>
            <img src="./assets/imagefirstproject.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>


        <!-- Item  My cinema Description -->
        <div class="hidden duration-2000 ease-in-out" data-carousel-item>
            <p class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"> The next slides was my first project with a crud. I had to create a website for where you can be able to crud a cinema database. I used PHP, MySQL,JavaScript and CSS. 
                <button type="submit" class=" w-full py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" id="btn-slide"><a href="https://github.com/NokthoSolaire/My_Cinema">GIT HUB</a></button>
            </p>
        </div>
        <!-- Item  My cinema -->
        <div class="hidden duration-2000 ease-in-out" data-carousel-item>
            <img src="./assets/image2.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item  My cinema -->
        <div class="hidden duration-2000 ease-in-out" data-carousel-item>
            <img src="./assets/imagecinema2.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item  My cinema -->
        <div class="hidden duration-2000 ease-in-out" data-carousel-item>
            <img src="./assets/imagecinema3.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>


        <!-- Item  Connect 4 Description -->
        <div class="hidden duration-2000 ease-in-out" data-carousel-item>
            <p class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"> The last slides is a Connect 4. I had to reproduice a Connect4. I used HTML, JavaScript and CSS. 
                <button type="submit" class=" w-full py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" id="btn-slide"><a href="https://github.com/NokthoSolaire/My_Cinema">GIT HUB</a></button>
            </p>
            

        </div>
        <!-- Item Connect 4 -->
        <div class="hidden duration-2000 ease-in-out" data-carousel-item>
            <img src="./assets/imageconnect4.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item Connect 4 -->
        <div class="hidden duration-2000 ease-in-out" data-carousel-item>
            <img src="./assets/imageconnect4-2.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item Connect 4 -->
        <div class="hidden duration-2000 ease-in-out" data-carousel-item>
            <img src="./assets/imageconnect4-3.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
        <button type="button" class="w-3 h-3 rounded-full border-2 border-neon" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full border-2 border-neon" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full border-2 border-neon" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full border-2 border-neon" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
        <button type="button" class="w-3 h-3 rounded-full border-2 border-neon" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
        <button type="button" class="w-3 h-3 rounded-full border-2 border-neon" aria-current="false" aria-label="Slide 6" data-carousel-slide-to="5"></button>
        <button type="button" class="w-3 h-3 rounded-full border-2 border-neon" aria-current="false" aria-label="Slide 7" data-carousel-slide-to="6"></button>
        <button type="button" class="w-3 h-3 rounded-full border-2 border-neon" aria-current="false" aria-label="Slide 8" data-carousel-slide-to="7"></button>
        <button type="button" class="w-3 h-3 rounded-full border-2 border-neon" aria-current="false" aria-label="Slide 9" data-carousel-slide-to="8"></button>
        <button type="button" class="w-3 h-3 rounded-full border-2 border-neon" aria-current="false" aria-label="Slide 10" data-carousel-slide-to="9"></button>
        <button type="button" class="w-3 h-3 rounded-full border-2 border-neon" aria-current="false" aria-label="Slide 0" data-carousel-slide-to="10"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-neon group-hover:bg-neon-hover group-focus:ring-neon group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-neon-dark sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-neon group-hover:bg-neon-hover group-focus:ring-neon group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-neon-dark sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
  </div>
  

<style>
     @font-face {
  font-family: "NeonRetro";
  src: url(/assets/fonts/NeonRetro.otf);
  }

  p
  {
    font-family: "NeonRetro";
    font-size: 30px;
    color: #fff;
    text-align: center;
  }

  #btn-slide{
    background-color: #00e3e8;
    border: none;
    color: #fff;
    box-shadow: 0 0 5px #00e3e8, 0 0 10px #00e3e8, 0 0 15px #00e3e8;

  }

  #btn-slide:hover,
  #btn-slide:focus {
    background-color: #00b7c0;
    box-shadow: 0 0 5px #00b7c0, 0 0 10px #00b7c0, 0 0 15px #00b7c0;
  }

  #btn-slide:focus {
    outline: none;
  }
</style>
 
<script></script>