---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
		<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
		</script>
		<!-- <script is:inline src="./assets/js/mail.js"></script> -->
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--primary: rgb(44, 180, 92);
		--secondary: #DA32C8;
	}
	html {
		font-family: 'Roboto', sans-serif;
		background-color: #30167e;
		background-image: url('./assets/grid.gif');
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	code {
		font-family: 'Courier New', monospace;
	}


</style>

